<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title_inner d-flex">
                <div class="form">
                    <ion-item lines="none">
                        <div class="item_inner d-flex" (click)="clickAddress()">
                            <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                            {{'Home' | translate}}

                            <!-- <ion-icon class="zmdi zmdi-chevron-down ion-text-end"></ion-icon> -->
                        </div>
                    </ion-item>
                </div>
                <div class="end">
                    <ion-icon class="zmdi zmdi-search zmdi-hc-1x ion-text-start "
                        style="vertical-align: middle; margin-right: 10px;"></ion-icon>
                    <span class="cart_icon" (click)="cart()">
                        <img src="assets/images/ic_cart_blk.png" class="light-theme-icon">
                        <img src="assets/images/ic_cart_wt.png" class="dark-theme-icon">
                        <ion-badge>{{orderItems}}</ion-badge>
                    </span>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>

    <!-- <div class="search_box">
        <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
        <ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_item_or_store' | translate}}">
        </ion-searchbar>
    </div> -->
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts" style="text-align: center; bottom: 0px !important;">
        <ion-slide>
            <ion-card class="card-size">
                <img class="img-size" src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="card-size">
                <img class="img-size" src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="card-size">
                <img class="img-size" src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-row class="ion-margin">
        <ion-col size="6" *ngFor="let data of serviceList">
            <ion-card *ngIf="data.isPrimary" class="ion-no-margin" style="box-shadow: none;" (click)="stores(data)">
                <img style="width: 100%; height: 100%; border-radius: 5%" [src]="topService[data.displayName]" alt="" />
            </ion-card>
        </ion-col>
    </ion-row>

    <!-- <div class="item-container animate__animated animate__fadeInUp">
        <h3><span>{{'got_delivered' | translate}}</span></h3>
        <div class="hthumb-section" *ngIf="serviceList.length">
            <div *ngFor="let item of serviceList" class="hthumb-service" (click)="stores(item.id)">
                <div class="hthumb hthumb1" *ngIf="item.isPrimary">
                   * <img src="{{item.imageUrl|asUrl:'groceries'}}" alt="img">*
                    <img src="{{item.displayName + '.png'|asUrl:'groceries'}}" alt="img">
                    <div class="freedel" *ngIf="setting['Free_Delivery']===item.deliveryChargesCode">
                        Free Delivery
                    </div>
                    <h1>{{item.displayName}}</h1>
                    <div class="nextarrow">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-pro-list" *ngIf="serviceList.length">
            <ul>
                <li *ngFor="let item of serviceList" [ngClass]="{'disabled':item.isPrimary}">
                    <div class="freedel-sm" *ngIf="setting['Free_Delivery']===item.deliveryChargesCode">
                        Free Delivery
                    </div>
                    <img src="{{item.imageUrl|asUrl:'services'}}" alt="img">
                    <h3>{{item.displayName}}</h3>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- <div class="home-pro-list" *ngIf="serviceList.length">
        <ul>
            <li *ngFor="let item of serviceList" [ngClass]="{'disabled':item.isPrimary}">
                <div class="freedel-sm" *ngIf="setting['Free_Delivery']===item.deliveryChargesCode">
                    Free Delivery
                </div>
                <img src="{{item.imageUrl|asUrl:'services'}}" alt="img">
                <h3>{{item.displayName}}</h3>
            </li>
        </ul>
    </div>

    <div class="item-container animate__animated animate__fadeInUp" *ngIf="!serviceList.length">
        <h3><span>
                <ion-skeleton-text animated></ion-skeleton-text>
            </span></h3>
        <div class="hthumb-section">
            <div class="hthumb-service">
                <div class="hthumb hthumb1">
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <h1>
                        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    </h1>
                </div>
            </div>
            <div class="hthumb-service">
                <div class="hthumb hthumb1">
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <h1>
                        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    </h1>

                </div>
            </div>
            <div class="hthumb-service">
                <div class="hthumb hthumb1">
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <h1>
                        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    </h1>

                </div>
            </div>
            <div class="hthumb-service">
                <div class="hthumb hthumb1">
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <h1>
                        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    </h1>

                </div>
            </div>
        </div>
        <div class="home-pro-list">
            <ul>
                <li>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

                    <h3>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h3>
                </li>
                <li>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

                    <h3>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h3>

                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

                    <h3>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h3>
                </li>
                <li>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

                    <h3>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h3>
                </li>
                <li>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

                    <h3>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h3>

                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

                    <h3>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h3>
                </li>
            </ul>
        </div>
    </div> -->
    <ion-slides [options]="slideOpts2">
        <ion-slide>
            <ion-card>
                <h1>Slide 1</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 2</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 3</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 4</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 5</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 6</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 7</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 8</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1>Slide 9</h1>
            </ion-card>
        </ion-slide>
    </ion-slides>


    <ion-row style="margin-top: 10px;">
        <ion-col>
            <h1> Coupons for you</h1>
        </ion-col>
    </ion-row>
    <ion-slides [options]="slideOpts3">
        <ion-slide>
            <ion-card>
                <h1> Coupon 1</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1> Coupon 2</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1> Coupon 3</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1> Coupon 4</h1>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <h1> Coupon 5</h1>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-row style="margin-top: 10px;">
        <ion-col>
            <h1> Top Brands for you</h1>
        </ion-col>
    </ion-row>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-card>
                <img class="img-size" src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img class="img-size" src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img class="img-size" src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-row style="margin-top: 10px;">
        <ion-col>
            <h1> Express Grocery Delivery</h1>
        </ion-col>
    </ion-row>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-card>
                <img src="assets\images\placeholder\slider_image.jpg">
                <img src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="assets\images\placeholder\slider_image.jpg">
                <img src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="assets\images\placeholder\slider_image.jpg">
                <img src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-row style="margin-top: 10px;">
        <ion-col>
            <h1> Best Restaurants in Safety</h1>
        </ion-col>
    </ion-row>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-card>
                <img src="assets\images\placeholder\slider_image.jpg">
                <img src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="assets\images\placeholder\slider_image.jpg">
                <img src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="assets\images\placeholder\slider_image.jpg">
                <img src="assets\images\placeholder\slider_image.jpg">
            </ion-card>
        </ion-slide>
    </ion-slides>


    <ion-card style="margin-top: 10px; box-shadow: none;">
        <h1>can't find</h1>
        <img class="img-size" style="border-radius: 5%;" src="assets\images\placeholder\Groceries & Essentials.png">
    </ion-card>

</ion-content>